# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
# Redirect all requests to the new domain
RewriteCond %{HTTP_HOST} ^rue.co.uk$ [OR]
RewriteCond %{HTTP_HOST} ^www.rue.co.uk$ [OR]
RewriteCond %{HTTP_HOST} ^art.rue.co.uk$
RewriteRule ^(.*)$ http://rue.uk$1 [R=301,L]

RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
